html {
    height: 100%;
}
body {
    height: 100%;
}

/*--head nav--*/
.head-nav {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    padding: 0 55px;
    background-color: #01A2A6;
    -webkit-box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
    box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
    /*--prevent chrome fixed element blink--*/
    -webkit-transform: translateZ(0);
}
.head-nav h1 {
    float: left;
    color: #fff;
    margin: 0;
    font-size: 28px;
    line-height: 60px;
    text-shadow: 0 2px 1px rgba(0,0,0,0.2);
}
.head-nav h1 .fa {
    margin-right: 15px;
}
.nav-right {
    float: right;
    color: #fff;
    height: 60px;
    margin-left: 20px;
}
.nav-right span {
    float: left;
    display: block;
    font-size: 14px;
    line-height: 60px;
    margin-left: 6px;
}
.nav-right .fa {
    float: left;
    font-size: 20px;
    margin-top: 20px;
}

/*--side menu--*/
.side-menu {
    position: fixed;
    z-index: 99;
    top: 60px;
    left: 0;
    bottom: 0;
    width: 220px;
    /*--prevent chrome fixed element blink--*/
    -webkit-transform: translateZ(0);
}
.slide-menu-ul {
    padding: 16px 10px 0;
}
.slide-menu-ul li {
    cursor: pointer;
    color: #757575;
    font-weight: bold;
    margin-bottom: 8px;
    padding: 2px 0;
    line-height: 40px;
    border-radius: 2px;
}
.slide-menu-ul li:hover {
    background-color: rgba(0,0,0,0.05);
}
.active-li {
    color: #01A2A6!important;
    background-color: rgba(0,0,0,0.05);
}
.slide-menu-ul .fa {
    display: block;
    float: left;
    width: 24px;
    height: 48px;
    color: #01A2A6;
    font-size: 24px;
    margin: 0 20px 0 50px;
    padding-top: 6px;
    text-align: center;
}

/*--main container--*/
#send, #check, #sended, #done {
    display: none;
}
#send {
    padding: 40px 60px 0;
}
.main-container {
    height: 100%;
    margin: 0 0 0 220px;
    padding-top: 60px;
}
.body-box {
    width: 100%;
    height: 100%;
}
.edit-box {
    margin-top: 25px;
    background-color: #fff;
    -webkit-box-shadow: 0 -1px 0 #e5e5e5,0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
    box-shadow: 0 -1px 0 #e5e5e5,0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
}
.editor {
    width: 100%;
    height: 350px;
    padding: 8px;
    overflow: auto;
    font-size: 18px;
    line-height: 30px;
}
.editor:focus {
    outline: none;
}
.editor ul {
    padding-left: 30px;
    list-style: disc;
}
.mail-title {
    margin-bottom: 15px;
    padding-bottom: 4px;
    border-bottom: 1px solid #ccc;
    -webkit-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}
.mail-title label {
    float: left;
    width: 5%;
    color: #888;
    -webkit-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}
.mail-title input {
    float: left;
    width: 95%;
    border: none;
    background: transparent;
}
.mail-title input:focus {
    outline: none;
}
.mail-title-focus {
    border-bottom: 1px solid #01A2A6;
}
.mail-title-focus label {
    color: #333;
}
.send-btn {
    display: block;
    width: 90px;
    color: #fff;
    padding: 6px 0;
    margin: 20px 0;
    border-radius: 4px;
    text-align: center;
    background: #01A2A6;
    -webkit-transition: background .1s ease-in-out;
    -o-transition: background .1s ease-in-out;
    transition: background .1s ease-in-out;
}
.send-btn:hover {
    color: #fff;
    background-color: #018286;
}
.send-btn:focus {
    color: #fff;
}
.hidden-input {
    opacity: 0;
    position: absolute;
    cursor: pointer;
    top: 0px;
    right: 0px;
    width: 40px;
    height: 34px;
    z-index: 10;
    font-size:0px;
}
.btn-toolbar {
    margin-left: 0!important;
}
.btn-group {
    margin-left: 0!important;
    width: 40px;
    text-align: center;
}
.btn-group > a {
    width: 40px;
    text-align: center;
    color: #1695A3;
}
.btn-group > a:hover {
    color: #225378;
}
.btn-active {
    color: #225378!important;
}
.vertical-middle-t {
    display: table;
    width: 100%;
    height: 100%;
}
.vertical-middle-tc {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}
.no-content {
    display: flex;
    width: 450px;
    height: 450px;
    margin: 0 auto;
    background-color: #01A2A6;
    border-radius: 50%;
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,.12),inset 0 2px 4px rgba(0,0,0,.24);
    box-shadow: inset 0 0 2px rgba(0,0,0,.12),inset 0 2px 4px rgba(0,0,0,.24);
    -webkit-transition: all .8s cubic-bezier(0.25, 0.8, 0.25, 1);
    -o-transition: all .8s cubic-bezier(0.25, 0.8, 0.25, 1);
    transition: all .8s cubic-bezier(0.25, 0.8, 0.25, 1);
    -webkit-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
}
.grow {
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}
.no-content p {
    color: #fff;
    font-size: 26px;
    font-family: "华文细黑", "Microsoft YaHei";
    margin: 210px auto 0;
    text-shadow: 0 2px 1px rgba(0,0,0,0.2);
}
.mail-line {
    padding-top: 20px;
}
.mail-line p {
    width: 85%;
    color: #888;
    padding-left: 30px;
    margin: 0 0 0 5%;
    line-height: 40px;
}
.mail-ul {
    width: 80%;
    margin-left: 8%;
}
.mail-ul li {
    color: #333;
    width: 100%;
    height: 48px;
    line-height: 48px;
    background: #fff;
    padding-left: 15px;
    -webkit-box-shadow: 0 -1px 0 #e5e5e5,0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
    box-shadow: 0 -1px 0 #e5e5e5,0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
}
.li-name,
.li-title {
    display: block;
    float: left;
}
.li-time,
.li-done {
    display: block;
    float: right;
}
.li-name {
    width: 140px;
    margin-left: 15px;
}
.li-time {
    color: #999;
    margin-right: 20px;
}
.li-done {
    cursor: pointer;
    font-size: 20px;
    color: rgba(0,0,0,0.2);
    margin-right: 20px;
    -webkit-transition: color .1s ease-in-out;
    -o-transition: color .1s ease-in-out;
    transition: color .1s ease-in-out;
}
.li-done:hover {
    color: #018286;
}
.logout {
    cursor: pointer;
}
.common-input {
    width: 50%;
    height: 44px;
    color: #666;
    border: none;
    padding: 0 0 0 20px;
    font-size: 14px;
    line-height: 40px;
    background-color: rgba(255,255,255,0.6);
}
.common-input:focus {
    outline: none;
}
.common-input-2 {
    width: 50%;
    height: 44px;
    color: #666;
    border: none;
    padding: 0 0 0 20px;
    margin-left: 15px;
    font-size: 14px;
    line-height: 40px;
    background-color: rgba(255,255,255,0.6);
}
.common-input-2:focus {
    outline: none;
}
.confirm-btn {
    display: block;
    width: 90px;
    color: #fff;
    padding: 6px 0;
    margin: 20px 0;
    margin-left: 8%;
    border-radius: 4px;
    text-align: center;
    background: #01A2A6;
    -webkit-transition: background .1s ease-in-out;
    -o-transition: background .1s ease-in-out;
    transition: background .1s ease-in-out;
}
.confirm-btn:hover {
    color: #fff;
    background-color: #018286;
}
.confirm-btn:focus {
    color: #fff;
}
