html {
  height: 100%;
}
body {
  height: 100%;
  overflow-x: hidden;
}

/*--head nav--*/
.head-nav {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  padding: 0 45px;
  -webkit-box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
          box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
  -webkit-transition: background .3s ease-in-out;
       -o-transition: background .3s ease-in-out;
          transition: background .3s ease-in-out;

  /*--prevent chrome fixed element blink--*/
  -webkit-transform: translateZ(0);
}
.head-nav-task {
  background-color: #4791D2;
}
.head-nav-send {
  background-color: #01A2A6;
}
.head-nav-check {
  background-color: #45BF55;
}
.head-nav-sended {
  background-color: #7f64d9;
}
.head-nav-return {
  background-color: #1fa67a;
}
.head-nav-done {
  background-color: #1a8fb4;
}
.head-nav h1 {
  float: left;
  color: #fff;
  margin: 0;
  font-size: 24px;
  line-height: 60px;
  text-shadow: 0 2px 1px rgba(0,0,0,0.2);
}
.head-nav a {
  display: block;
  float: left;
}
.head-logo {
  float: left;
  width: 46px;
  height: auto;
  margin: 10px 10px 0 0;
}
.nav-right {
  float: right;
  color: #fff;
  height: 60px;
  margin-left: 20px;
}
.nav-right span {
  float: left;
  display: block;
  font-size: 14px;
  line-height: 60px;
  margin-left: 6px;
}
.nav-right .fa {
  float: left;
  font-size: 20px;
  margin-top: 20px;
}

/*--side menu--*/
.side-menu {
  position: fixed;
  z-index: 99;
  top: 60px;
  left: 0;
  bottom: 0;
  width: 220px;
  /*--prevent chrome fixed element blink--*/
  -webkit-transform: translateZ(0);
}
.slide-menu-ul {
  padding: 16px 10px 0;
}
.slide-menu-ul li {
  cursor: pointer;
  color: #757575;
  margin-bottom: 8px;
  padding: 2px 0;
  line-height: 40px;
  border-radius: 2px;
  -webkit-transition: all .1s ease-in-out;
       -o-transition: all .1s ease-in-out;
          transition: all .1s ease-in-out;
}
.slide-menu-ul li:hover {
  background-color: rgba(0,0,0,0.05);
}
.slide-menu-ul .fa-clock-o {
  color: #4791D2;
}
.slide-menu-ul .fa-pencil-square-o {
  color: #01A2A6;
}
.slide-menu-ul .fa-leaf {
  color: #45BF55;
}
.slide-menu-ul .fa-paper-plane-o {
  color: #7f64d9;
}
.slide-menu-ul .fa-check {
  color: #1a8fb4;
}
.slide-menu-ul .fa-reply {
  color: #1fa67a;
}
.active-li {
  background-color: rgba(0,0,0,0.05);
}
.active-li .task-span {
  color: #4791D2;
}
.active-li .send-span {
  color: #01A2A6;
}
.active-li .check-span {
  color: #45BF55;
}
.active-li .sended-span {
  color: #7f64d9;
}
.active-li .done-span {
  color: #1a8fb4;
}
.active-li .return-span {
  color: #1fa67a;
}
.slide-menu-ul .fa {
  display: block;
  float: left;
  width: 24px;
  height: 48px;
  font-size: 24px;
  margin: 0 20px 0 50px;
  padding-top: 6px;
  text-align: center;
}

/*--main container--*/
#send, #check, #sended, #done, #return {
  display: none;
}
#send {
  padding: 40px 60px 0;
}
.main-container {
  height: 100%;
  margin: 0 0 0 220px;
  padding-top: 60px;
}
.body-box {
  width: 100%;
  min-height: 100%;
  height: 100%;
}
.edit-box {
  margin-top: 25px;
  background-color: #fff;
  -webkit-box-shadow: 0 -1px 0 #e5e5e5,0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
          box-shadow: 0 -1px 0 #e5e5e5,0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
}
.editor {
  width: 100%;
  height: 350px;
  padding: 8px;
  overflow: auto;
  font-size: 18px;
  line-height: 30px;
}
.editor:focus {
  outline: none;
}
.editor ul {
  padding-left: 30px;
  list-style: disc;
}
.mail-title {
  margin-bottom: 15px;
  padding-bottom: 4px;
  border-bottom: 1px solid #ccc;
  -webkit-transition: all .1s ease-in-out;
       -o-transition: all .1s ease-in-out;
          transition: all .1s ease-in-out;
}
.mail-title label {
  float: left;
  width: 65px;
  color: #888;
  font-weight: normal;
  -webkit-transition: all .1s ease-in-out;
       -o-transition: all .1s ease-in-out;
          transition: all .1s ease-in-out;
}
.mail-title input {
  float: left;
  min-width: 750px;
  border: none;
  background: transparent;
}
.mail-title input:focus {
  outline: none;
}
.mail-title-focus {
  border-bottom: 1px solid #01A2A6;
}
.mail-title-focus label {
  color: #333;
}
.send-btn {
  display: block;
  width: 90px;
  color: #fff;
  padding: 6px 0;
  margin: 20px 0;
  border-radius: 4px;
  text-align: center;
  background: #01A2A6;
  -webkit-transition: background .1s ease-in-out;
       -o-transition: background .1s ease-in-out;
          transition: background .1s ease-in-out;
}
.send-btn:hover {
  color: #fff;
  background-color: #018286;
}
.send-btn:focus {
  color: #fff;
}
.hidden-input {
  opacity: 0;
  position: absolute;
  cursor: pointer;
  top: 0px;
  right: 0px;
  width: 40px;
  height: 34px;
  z-index: 10;
  font-size:0px;
}
.btn-toolbar {
  margin-left: 0!important;
}
.btn-group {
  margin-left: 0!important;
  width: 40px;
  text-align: center;
}
.btn-group > a {
  width: 40px;
  text-align: center;
  color: #1695A3;
}
.btn-group > a:hover {
  color: #225378;
}
.btn-active {
  color: #225378!important;
}
.vertical-middle-t {
  display: table;
  width: 100%;
  height: 100%;
}
.vertical-middle-tc {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%;
}
.no-content {
  display: flex;
  width: 450px;
  height: 450px;
  margin: 0 auto;
  border-radius: 50%;
  -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,.12),inset 0 2px 4px rgba(0,0,0,.24);
          box-shadow: inset 0 0 2px rgba(0,0,0,.12),inset 0 2px 4px rgba(0,0,0,.24);
  -webkit-transition: all .8s cubic-bezier(0.25, 0.8, 0.25, 1);
       -o-transition: all .8s cubic-bezier(0.25, 0.8, 0.25, 1);
          transition: all .8s cubic-bezier(0.25, 0.8, 0.25, 1);
  -webkit-transform: scale(0);
       -o-transform: scale(0);
          transform: scale(0);
}
#task .no-content {
  background-color: #4791D2;
}
#check .no-content {
  background-color: #45BF55;
}
#sended .no-content {
  background-color: #7f64d9;
}
#done .no-content {
  background-color: #1a8fb4;
}
#return .no-content {
  background-color: #1fa67a;
}
.grow {
  -webkit-transform: scale(1);
       -o-transform: scale(1);
          transform: scale(1);
}
.no-content p {
  color: #fff;
  font-size: 26px;
  font-family: "华文细黑", "Microsoft YaHei";
  margin: 210px auto 0;
  text-shadow: 0 2px 1px rgba(0,0,0,0.2);
}
.mail-line {
  padding-top: 20px;
}
.mail-line p {
  width: 85%;
  color: #888;
  padding-left: 30px;
  margin: 0 0 0 5%;
  line-height: 40px;
}
.mail-ul {
  width: 85%;
  margin-left: 5%;
}
.mail-ul li {
  color: #333;
  width: 100%;
  height: 48px;
  line-height: 48px;
  background: #fff;
  padding-left: 15px;
  -webkit-box-shadow: 0 -1px 0 #e5e5e5,0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
          box-shadow: 0 -1px 0 #e5e5e5,0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
}
.li-name,
.li-title {
  display: block;
  float: left;
}
.li-time,
.li-done {
  display: block;
  float: right;
}
.li-name {
  width: 170px;
  margin: 0 15px;
  height: 48px;
}
.li-time {
  color: #999;
  margin-right: 20px;
}
.li-title {
  cursor: pointer;
}
.li-done {
  cursor: pointer;
  font-size: 20px;
  color: rgba(0,0,0,0.2);
  margin-right: 20px;
  -webkit-transition: color .1s ease-in-out;
       -o-transition: color .1s ease-in-out;
          transition: color .1s ease-in-out;
}
.li-done:hover {
  color: #4791D2;
}
.logout {
  cursor: pointer;
}
.mail-detail {
  color: #333;
  width: 85%;
  padding: 20px;
  background: #fff;
  min-height: 480px;
  margin: 60px 0 30px 5%;
  -webkit-box-shadow: 0 -1px 0 #e5e5e5,0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
          box-shadow: 0 -1px 0 #e5e5e5,0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
}
.mail-detail h2 {
  font-weight: bold;
  margin:0 0 15px;
  font-size: 18px;
}
.mail-content {
  width: 100%;
  font-size: 14px;
  line-height: 30px;
}
.detail-tool {
  position: absolute;
  top: 15px;
  right: 20px;
}
.detail-tool a {
  display: block;
  float: right;
  font-size: 13px;
  padding: 5px 14px;
  margin-left: 5px;
  text-align: center;
  border-radius: 4px;
}
.detail-span {
  color: #888;
  width: 60px;
}
.detail-head {
  margin-bottom: 20px;
  padding-bottom: 5px;
  border-bottom: 1px solid #ddd;
}
.back-btn {
  color: #888;
  border: 1px solid #aaa;
}
.back-btn:hover {
  color: #000;
  border: 1px solid #555;
}
.done-btn {
  color: #fff;
  background-color: #45BF55;
  border: 1px solid #45BF55;
}
.done-btn:hover {
  background-color: #35AF45;
}
.reply-btn {
  color: #fff;
  background-color: #1a8fb4;
  border: 1px solid #1a8fb4;
}
.reply-btn:hover {
  background-color: #0a7fa4;
}
.return-btn {
  color: #fff;
  background-color: #ff6a6a;
  border: 1px solid #ff6a6a;
}
.return-btn:hover {
  background-color: #ff5a5a;
}

.btn-line {
  width: 85%;
  height: 40px;
  margin: 20px 0 40px 5%;
}
.prev-btn,
.next-btn {
  height: 38px;
  width: 95px;
  padding-top: 9px;
  text-align: center;
  border-radius: 4px;
  -webkit-transition: all .2s ease-in-out;
       -o-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
}
.prev-btn:hover,
.next-btn:hover {
  color: #fff;
  -webkit-box-shadow: 0 3px 8px 0 rgba(0,0,0,0.18);
          box-shadow: 0 3px 8px 0 rgba(0,0,0,0.18);
}
#task .prev-btn,
#task .next-btn {
  color: #4791D2;
  border: 1px solid #4791D2;
}
#task .prev-btn:hover,
#task .next-btn:hover {
  background-color: #4791D2;
}
#check .prev-btn,
#check .next-btn {
  color: #45BF55;
  border: 1px solid #45BF55;
}
#check .prev-btn:hover,
#check .next-btn:hover {
  background-color: #45BF55;
}
#sended .prev-btn,
#sended .next-btn {
  color: #7f64d9;
  border: 1px solid #7f64d9;
}
#sended .prev-btn:hover,
#sended .next-btn:hover {
  background-color: #7f64d9;
}
#return .prev-btn,
#return .next-btn {
  color: #1fa67a;
  border: 1px solid #1fa67a;
}
#return .prev-btn:hover,
#return .next-btn:hover {
  background-color: #1fa67a;
}
#done .prev-btn,
#done .next-btn {
  color: #1a8fb4;
  border: 1px solid #1a8fb4;
}
#done .prev-btn:hover,
#done .next-btn:hover {
  background-color: #1a8fb4;
}
.prev-btn .fa,
.next-btn .fa {
  margin:0 5px;
}
.prev-btn {
  float: left;
  padding-right: 5px;
}
.next-btn {
  float: right;
  padding-left: 5px;
}